<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
      <servlet-name>EntryAppController</servlet-name>
      <servlet-class>Controller.EntryAppController</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>EntryAppController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>