<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <!--<servlet>-->
      <!--<servlet-name>EntryAppController</servlet-name>-->
      <!--<servlet-class>controller.EntryAppController</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>EntryAppController</servlet-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>EntryPoint</servlet-name>
        <servlet-class>service.entry.EntryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntryPoint</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>service.auth.LoginService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>